*
{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}

/*  Global font selection */
body
{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
}

/*  Set letter spacing  */
p {
    letter-spacing: 1.2px;
}

/*main welcome page*/
#welcomeSpace {
    width: 100%;
    height: 100vh;
    background-color: #E7FFD8; 
}

#welcomeBg {
    position: absolute;
    z-index: -2;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

#treeHill {
    position: absolute;
    width: 35%;
    bottom: 60%;
    left: 7%;
}

#sun {
    position: absolute;
    width: 4%;
    left: 23%;
    top: 17%;
    z-index: -1;
    animation: sunrise 3.5s ease-out;
}
  
@keyframes sunrise{
    0%{
      transform: translate(60%, 160%);
    }
    100%{
        transform: translate(0%, 0%);
    }
  }

#logoSpace {
    width: 14vw; 
    margin: 0 auto;
}

#logoSpace img {
    width: 100%;
    margin: 0 auto;
    margin-top: 15%;
}

#centerText {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin: 0 auto;
    color: #39423A;
    padding-top: 1%;
    width: 45%;
    height: 30vh;
    bottom: 1%;
    z-index: 1;
    top: 32%;
    line-height: 4vh;
}

#title {
    padding-top: 10px;
    font-size: 4vw;
    font-weight: 700;
    text-align: center;
    padding-bottom: 10px;
    line-height: 7vh;
}


#message {
    padding: 2%;
    font-size: 1.5vw;
    text-align: center;
}

#scrollBtn {
    width: 3vw; 
    padding-top: 10%;
    animation: mover1 1s infinite  alternate;
}

@keyframes mover1 {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

#begin {
    border-radius: 50px;
    color:#017439;
    margin: 0 auto;
    width: 9vw;
    padding: 2%;
    margin-top: 10%;
}

#begin p {
    text-align: center;
    font-size: 1vw;
    font-weight: 700;
}

#centerText img {
    display: block;
    margin: 0 auto;
    padding-top: 8%;
}


/* scenario block styling*/

#scenario {
   display: flex;
   flex-direction: row;
   border-top: 1px solid #001903;
   -webkit-box-shadow: 0 -5px 5px -5px #333;
   -moz-box-shadow:    0 -5px 5px -5px #333;
   box-shadow:         0 -5px 5px -5px #333;
   width: 100%;
   height: 100vh;
   overflow: hidden;
}

/* persona styling*/

#persona {
    background-color: #f2fadb;
    height: 100vh;
    width: 100%;
}

#personaScene {
    left: 40%;
    width: 21%;
    position: absolute;
    bottom: 0px;
}

#personaText {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #39423A;
    top: 15%;
    left: 5%;
    position: absolute;
    font-size: 1.8vw;
    width: 35%;
    z-index: 1;
    transition: all 2s ease-out;
    transform: translateY(-300%);
    line-height: 4vh; 
}

#personaText.fade-in {
    transition-delay: 1s;
    transform: translateY(0%); 
}

#personaText2 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.8vw;
    color: #39423A;
    width: 30%;
    position: absolute;
    line-height: 4vh; 
    right: 5%;
    top: 25%;
    z-index: 1;
    transition: all 2s ease-out;
    transform: translateY(-500%); 
    line-height: 110%;
}

#personaText2.fade-in {
    transition-delay: 1.5s;
    transform: translateY(0%); 
}

#thisMichael {
    font-weight: 700;
    margin-bottom: 10%;
    font-size: 2.5vw;
}

#michael {
    position: absolute;
    transition: all 1.5s ease-out;
    transform: translateY(200%);
    bottom: 0px;
}

#michael.fade-in {
    transform: translateY(0%);
}

#plant {
    width: 120%;
    margin-left: -3%;
}


#clouds1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    opacity: 0;
    transition: all 6s ease-out;
    transform: translateX(-40%);
    position: relative;
    top: 15%;
}

#clouds1 .cloudfirst {
 width: 10%;
}

#clouds1 .cloudsecond {
   width: 20%;
}

#clouds1.fade-in {
    opacity: 1;
    transform: translateX(0px);
}





/* ratio styling*/

#truckRatio {
    width: 100%;
    height: 100vh;
    background-color: #E7FFD8;
}

#ratio {
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border-left: 1px solid #001903;
}


#ratioText h2 {
    position: absolute;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #39423A;
    font-size: 2.5vw;
    right: 5%;
    top: 7%;
    width: 40%;
    line-height: 7vh;
}

span .number {
    font-size: 3vw;
    font-weight: 700;
}

#lineOne {
    font-size: 2.5vw;
    opacity: 0;
    transition: all 1s ease;

}

#lineOne.fade-in {
    opacity: 1;
}

#lineTwo {
    font-size: 2.5vw;
    opacity: 0;
    transition: all 1s ease;
    transition-delay: 3s;
}

#lineTwo.fade-in {
    transition-delay: 3s;
    opacity: 1;
}


#ratioRows {
    height: 100%;
    justify-content: space-evenly;
    background-color: #fafafa;

}

#iecsTruckratio {
    position: absolute;
    width: 30vw;
    bottom: 30vh;
    right: 10vw;
    transition: all 1.5s ease-out;
    transform: translateX(-450%);
    opacity: 0;
}

#iecsTruckratio.fade-in {
    transform: translateX(0px);
    opacity: 1;
}

#ratioRow1 {
    height: 16.65%;
    width: 74%;
    margin: 0 auto;
    transition: all 2s ease-out;
    transition-delay: 3.5s;
    transform: translateX(-170%);
}

#ratioRow1.fade-in {
    transform: translateX(0px);
}

#ratioRow2 {
    height: 16.65%;
    width: 74%;
    margin: 0 auto;
    transition: all 2s ease-out;
    transition-delay: 3.2s;
    transform: translateX(-170%);
}

#ratioRow2.fade-in {
    transform: translateX(0px);
}


#ratioRow3 {
    height: 16.65%;
    width: 74%;
    margin: 0 auto;
    transition: all 2s ease-out;
    transition-delay: 2.9s;
    transform: translateX(-170%);
}

#ratioRow3.fade-in {
    transform: translateX(0px);
}

#ratioRow4 {
    height: 16.65%;
    width: 74%;
    margin: 0 auto;
    transition: all 2s ease-out;
    transition-delay: 2.6s;
    transform: translateX(-170%);
}

#ratioRow4.fade-in {
    transform: translateX(0px);
}

#ratioRow5 {
    height: 16.65%;
    width: 74%;
    margin: 0 auto;
    transition: all 2s ease-out;
    transition-delay: 2.3s;
    transform: translateX(-170%);
    margin-top: -1%;
}

#ratioRow5.fade-in {
    transform: translateX(0px);
}

#ratioRow6 {
    height: 16.65%;
    width: 74%;
    margin: 0 auto;
    transition: all 2s ease-out;
    transform: translateX(-170%);
    transition-delay: 2s;
    margin-top: 2%;
}

#ratioRow6.fade-in {
    transform: translateX(0px);
}

#scrollBtn2 {
    position: absolute;
    bottom: 10vh;
    width: 3vw;
    right: 23vw;
    animation: mover2 1s infinite  alternate;
    opacity: 0;
    transition: all .7s ease-out;
    transition-delay: 4.5s;
}

#scrollBtn2.fade-in {
    opacity: 1;
}

@keyframes mover2 {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}



/* fuel save styling*/

#fuelSave {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color: white;
 }

#fuelText {
    width: 40%;
    margin: 0 auto;
    color: #39423A;
    top: 8%;
    left: 30%;
    position: absolute;
    transition: all .7s ease-out;
    transform: translateY(-250%);
}
#fuelText p{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
    font-size: 1.9vw;
    line-height: 5vh;
    text-align: center;

}

#fuelText.fade-in {
    transform: translateY(0%);
    padding-bottom: 10px;
}

 
#iecsFuelTitle {
    position: absolute;
    left: 26vw;
    top: 35vh;
    color: #418E3A;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 700;
    font-size: 5vh;
}

 #iecsFuel {
    background-color: white;
    height: 40%;
    width: 20%;
    border-right: 1px solid #001903;
    overflow: hidden;
    display: block;
    left: 20%;
    top: 45%;
    position: absolute;
    border-bottom-right-radius: 7%;
    border-bottom-left-radius: 7%;
    border-bottom: 1.5px solid black;
    border-left:1.5px solid black;
    border-right:1.5px solid black;
 }

 #scale1 {
    position: absolute;
    bottom: 0;
    left:0;
    z-index: 1;
    height: 100%;
 }

 #iconFuel1 {
    position: absolute;
    width: 18%;
    left: 9%;
    top: 62%;
    z-index: 4;
 }

 #indicator1 {
     z-index: 2;
     position: absolute;
     width: 100%;
     height: 100%;
 }

 #indc1Div {
     width: 15%;
     height: 20%;
     position: absolute;
     left: 5%;
     bottom: 15%;
     transition: all .7s ease-out;
     transform: translateY(30%);
     transition-delay: 5s;
     opacity: 0;
}

#indc1Div.fade-in {
    transform: translateY(0%);
    opacity: 1;
}

#dollarDiv1 {
    left: 10%;
    width: 65%; 
    height: 50%;
    position: absolute;
    border-bottom: 1px solid white;
    z-index: 3;
}

#dollarDiv1 h2 {
    left: 10%;
    top: 25%;
    position: relative;
}

#dollarDiv1 p {
    margin-left: 9%;
    margin-bottom: 10%;
    position: relative;
}

#dollarIcon1 {
    position: absolute;
    z-index: 4;
    width: 25%;
    top: 30%;
    left: 3%;
}

#indc1Div h2 {
    z-index: 3;
    color:white;
    font-weight: bold;
    font-size: 2vw;
    position: absolute;
    bottom: 24%;
    left: 37%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

#indc1Div, h2 span {
    font-size: 1.5vw;
}

 #indc1Div p {
     z-index: 3;
     color:white;
     font-size: 1vw;
     text-align: center;
     position: absolute;
     top: 77%;
     left: 37%;
     font-family: 'M PLUS Rounded 1c', sans-serif;
 }
 

 #rrFuelTitle {
    position: absolute;
    left: 64vw;
    top: 35vh;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 700;
    font-size: 5vh;
    color: #39423A;
}

 #rrFuel {
    background-color: white;
    height: 40%;
    width: 20%;
    overflow: hidden;
    display: block;
    right: 20%;
    top: 45%;
    position: absolute;
    border-bottom-right-radius: 7%;
    border-bottom-left-radius: 7%;
    border-bottom: 1.5px solid black;
    border-left:1.5px solid black;
    border-right:1.5px solid black;

 }

 #scale2 {
    position: absolute;
    bottom:0;
    left: 0%;
    z-index: 1;
    height: 100%;
}

#iconFuel2 {
    position: absolute;
    width: 18%;
    left: 9%;
    top: 62%;
    z-index: 4;
}

#indicator2 {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
}

#indc2Div {
    width: 15%;
     height: 20%;
     position: absolute;
     right: 41%;
     bottom: 40%;
     transition: all .7s ease-out;
     transform: translateY(50%);
     transition-delay: 5s;
     opacity: 0;
}

#indc2Div.fade-in {
    transform: translateY(0%);
    opacity: 1;
}

#indc2Div h2 {
    z-index: 3;
    color:black;
    font-weight: 700;
    font-size: 1.5vw;
    position: absolute;
    bottom: 24%;
    left: 34%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
#indc2Div, h2 span {
    font-size: 1vw;
}

 #indc2Div p {
     z-index: 3;
     color:black;
     font-size: 1vw;
     text-align: center;
     position: absolute;
     top: 77%;
     left: 37%;
     font-family: 'M PLUS Rounded 1c', sans-serif;
 }

#dollarDiv2 {
    left: 10%;
    width: 70%; 
    height: 50%;
    position: absolute;
    border-bottom: 1px solid black;
    z-index: 3;
}

#dollarDiv2 h2 {
    left: 43%;
    top: 25%;
    position: relative;
}

#dollarDiv2 p {
    left: 10%;
    top: 25%;
    position: relative;
}

#dollarIcon2 {
    position: absolute;
    z-index: 4;
    width: 25%;
    top: 30%;
    left: 3%;
}

#fuelAnim1 {
    margin-top: 35vh;
    width: 200%;
    transition: all 5s ease;
    transform: translate(30%, 30%);
}

#fuelAnim1.fade-in {
    transform: translate(-30%, 0%);
}

#fuelDrop1 {
    position: absolute;
    transition: all 1s ease;
    transform: translateY(200%);
    top: 32vh;
    width: 5%;
    left: 45%;
    opacity: 0;
}

#fuelDrop1.fade-in {
    transform: translateY(0%);
    transition-delay: 3.5s;
    opacity: 1;
}

#fuelAnim2 {
    margin-top: 4vh;
    width: 200%;
    transition: all 5s ease;
    transform: translate(10%, 60%);
}

#fuelAnim2.fade-in {
    transform: translate(-40%, 0%);
}

#fuelDrop2 {
    position: absolute;
    transition: all 1s ease;
    transform: translateY(800%);
    width: 5%;
    right: 50%;
    top: 0vh;
    opacity: 0;
}

#fuelDrop2.fade-in {
    transform: translateY(0%);
    transition-delay: 3.5s;
    opacity: 1;
}



/*emissions section styling*/

 #emissions {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#emissionsCloud {
    width: 90%;
    position: absolute;
    top: 10vh;
    z-index: 1.5;
    left: 5%;
}

#emissionsFact {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
    font-size: 1.4vw;
    text-align: center;
    z-index: 1;
    width: 40%;
    line-height: 4vh;
    transition: all 1s ease;
    transition-delay: 3s;
    transform: translateY(-200%);
}

#emissionsFact.fade-in {
    top: 10%;
    transition-delay: 6.5s;
    transform: translateY(0%);
    margin: 0 auto;
   
}

#cityForest {
    bottom: 0%;
    width: 100%;
    position: absolute;
}

#iecsTruck {
    z-index: 2;
    position: absolute;
    width: 15%;
    bottom: 17%;
    right: 6%;
    transition: all 2s ease;
    transform: translateX(-600%);
}

#iecsTruck.fade-in {
    transform: translateX(0%);
}

#citytruckRow1 {
    position: absolute;
    bottom: 30%;
    left: 10%;
    width: 52%;
    z-index: 2;
    transition: all 3.5s ease;
    transform: translateX(-600%);
}

#citytruckRow1.fade-in {
    transition-delay: 2.2s;
    transform: translateX(0%);
}

#citytruckRow2 {
    z-index: 3;
    position: absolute;
    bottom: 24%;
    left: 4%;
    width: 65%;
    transition: all 3.5s ease;
    transform: translateX(-600%);
}

#citytruckRow2.fade-in {
    transition-delay: 1.7s;
    transform: translateX(0%);
}

#citytruckRow3 {
    z-index: 3;
    position: absolute;
    bottom: 17%;
    right: 23%;
    width: 75%;
    transition: all 3.5s ease;
    transform: translateX(-600%);
}

#citytruckRow3.fade-in {
    transition-delay: 1.7s;
    transform: translateX(0%);
}

#iecsSmog {
    position: absolute;
    z-index: 1;
    width: 5vw;
    bottom: 28%;
    right: 6.5%;
    opacity: 0;
    transition: all 5s ease;
    transform: translate(40%, 40%) scale(0);
}

#iecsSmog.fade-in {
    transform: translate(0%, 0%) scale(1);
    transition-delay: 1s;
    opacity: .8;
    width: 10vw;
}

#iecsSmogData {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 2vw;
    font-weight: 700;
    position: absolute;
    bottom: 34%;
    right: 9%;
    color: white;
    z-index: 3;
    opacity: 0;
    transition: all 1s ease;
}

#iecsSmogData p {
    font-size: 1vw;
}

#iecsSmogData.fade-in {
    transition-delay: 6.5s;
    opacity: 1;
}

#riprapSmog {
    position: absolute;
    z-index: 2;
    width: 60%;
    bottom: 33%;
    right: 25%;
    opacity: 0;
    transition: all 4.5s ease;
    transform: translate(40%, 60%) scale(0);
}

#riprapSmog.fade-in {
    transform: translate(0%, 0%) scale(1);
    opacity: .8;
    width: 60%;
    transition-delay: 4.5s;
}

#riprapSmogSmall {
    position: absolute;
    z-index: 2;
    bottom: 60%;
    left: 8%;
    width: 15vh;
    opacity: 0;
    transition: all 4.5s ease;
    transform: scale(0);
}

#riprapSmogSmall.fade-in {
    transform: scale(1);
    opacity: .8;
    width: 10vw;
    transition-delay: 6s;
}

#riprapSmogData {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 3.5vw;
    font-weight: 700;
    position: absolute;
    bottom: 60%;
    left: 45%;
    color: white;
    z-index: 3;
    opacity: 0;
    transition: all 1s ease;
}

#riprapSmogData p {
    font-size: 1.5vw;
}

#riprapSmogData.fade-in {
    transition-delay: 8.5s;
    opacity: 1;
}

/*road damage styling*/

#roadDamage {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    background-color: #f2fadb;
    overflow: hidden;
}

#street {
    background-color: #999999;
    height: 53vh;
    width: 100%;
    bottom: 0%;
    position: absolute;
    border-top: 15px solid gray;
}

#streetLine {
    width: 100%;
    position: absolute;
    bottom: 48%;
}

#damageText {
    width: 50%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.9vw;
    font-weight: 400;
    line-height: 5vh;
    text-align: center;
    z-index: 4;
    margin: 0 auto;
}



/*all cars and trucks and road cracks appearingon road sequentially*/

/* bottom lane*/

#car1 {
    z-index: 2;
    position: absolute;
    bottom: 3%;
    width: 35vh;
    right: -100vw;
    transition: all 2s linear;
    transform: translateX(-1200%);
}

#car1.fade-in {
    transform: translateX(0%);
}

#rrDamageTruck1 {
    z-index: 2;
    position: absolute;
    bottom: 3%;
    right: -100vw;
    width: 50vh;
    transition: all 5s linear;
    transform: translateX(-850%);
}

#rrDamageTruck1.fade-in {
    transform: translateX(0%);
    transition-delay: .8s;
}

#roadCrack4 {
    z-index: 1;
    position: absolute;
    bottom: -1%;
    width: 5%;
    left: 10%;
    transition: all .8s linear;
    opacity: 0;
}

#roadCrack4.fade-in {
    opacity: 1;
    transition-delay: 3.2s;
}


#car2 {
    z-index: 2;
    position: absolute;
    bottom: 3%;
    width: 35vh;
    right: -100vw;
    transition: all 4.5s ease-in;
    transform: translateX(-1200%);
}

#car2.fade-in {
    transition-delay: 1.7s;
    transform: translateX(0%);
}

#roadCrack5 {
    z-index: 1;
    position: absolute;
    bottom: -1%;
    width: 6%;
    left: 45%;
    transition: all .8s linear;
    opacity: 0;
}

#roadCrack5.fade-in {
    opacity: 1;
    transition-delay: 4.7s;
}

#rrDamageTruck2 {
    z-index: 2;
    position: absolute;
    bottom: 3%;
    right: -100vw;
    width: 50vh;
    transition: all 5.5s linear;
    transform: translateX(-850%);
}

#potHole {
    z-index: 1;
    position: absolute;
    width: 8%;
    bottom: 30px;
    right: 25%;
    transition: all .8s linear;
    opacity: 0;
}

#potHole.fade-in {
    opacity: 1;
    transition-delay: 5.5s;
}


#roadCrack6 {
    z-index: 1;
    position: absolute;
    bottom: 0%;
    width: 10%;
    height: 20%;
    right: -1%;
    transition: all .8s linear;
    opacity: 0;
}

#roadCrack6.fade-in {
    opacity: 1;
    transition-delay: 7.3s;
}

#rrDamageTruck2.fade-in {
    transform: translateX(0%);
    transition-delay: 3s;
}

#car3 {
    z-index: 2;
    position: absolute;
    bottom: 3%;
    width: 35vh;
    right: -100vw;
    transition: all 3.5s ease-in;
    transform: translateX(-1200%);
}

#car3.fade-in {
    transition-delay: 7s;
    transform: translateX(0%);
}


/*upper lane*/

#rrDamageTruck3 {
    z-index: 3;
    position: absolute;
    bottom: 60%;
    right: -100vw;
    width: 50vh;
    transition: all 5s ease-out;
    transform: translateX(-850%);
}

#rrDamageTruck3.fade-in {
    transform: translateX(0%);
}

#roadCrack2 {
    z-index: 1;
    position: absolute;
    top: 0%;
    left: 45%;
    width: 6%;
    opacity: 0;
    transition: all 1s ease;
}

#roadCrack2.fade-in {
    opacity: 1;
    transition-delay: 2s;
}

#car4 {
    z-index: 3;
    position: absolute;
    bottom: 60%;
    width: 35vh;
    right: -100vw;
    transition: all 3.4s ease-in;
    transform: translateX(-1200%);
}

#car4.fade-in {
    transition-delay: .8s;
    transform: translateX(0%);
}

#car5 {
    z-index: 3;
    position: absolute;
    bottom: 60%;
    width: 35vh;
    right: -100vw;
    transition: all 3.1s ease-in;
    transform: translateX(-1200%);
}

#car5.fade-in {
    transition-delay: 1.5s;
    transform: translateX(0%);
}

#rrDamageTruck4 {
    z-index: 3;
    position: absolute;
    bottom: 60%;
    width: 50vh;
    right: -100vw;
    transition: all 5s ease-out;
    transform: translateX(-850%);
}

#rrDamageTruck4.fade-in {
    transform: translateX(0%);
    transition-delay: 2.5s;
}

#roadCrack1 {
    z-index: 1;
    position: absolute;
    top: 0%;
    width: 5%;
    left: 10%;
    opacity: 0;
    transition: all 1s ease;
}

#roadCrack1.fade-in {
    opacity: 1;
    transition-delay: 4s;
}


#rrDamageTruck5 {
    z-index: 3;
    position: absolute;
    bottom: 60%;
    right: -100vw;
    width: 50vh;
    transition: all 6s ease-in;
    transform: translateX(-850%);
}

#rrDamageTruck5.fade-in {
    transition-delay: 3.5s;
    transform: translateX(0%);
}

#roadCrack3 {
    z-index: 1;
    position: absolute;
    top: 0%;
    right: 5%;
    width: 13%;
    opacity: 0;
    transition: all 1s ease;
}

#roadCrack3.fade-in {
    opacity: 1;
    transition-delay: 8.5s;
}


/* summary styling */

#summary {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #E8FFD4;
    border-top: 1px solid white;
}

#dashboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
    background-color: #247b08;

}

.dashBox1, .dashBox2, .dashBox3 {
    background-color: #247b08;
    border-right: 1px solid white;
    width: 25%;
    height: 100%;
    padding: 30px;
}

.dashBox4 {
    background-color: #247b08;
    width: 25%;
    height: 100%;
    padding:30px;
}

.summaryDash {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summaryDash h2 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 300;
    font-size: 2.3vw;
    color: white;
}

#level-icon-1 {
    width: 20%;
    
}

#level-icon-2{
    width: 25%;
}

#level-icon-3 {
    width: 12%;
}

#level-icon-4 {
    width: 11%;
}

.amount-numbers {
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.amount-numbers p{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 300;
    font-size: 1.5vw;
    color: white;
}

#amount {
    font-weight: 600;
    font-size: 4.5vw;
    margin-right: 20px;
}

/* background-size: cover; */
#finale {
    overflow: hidden;
    height: 100vh;
    background: 
    /* top, transparent red */ 
    linear-gradient(
      rgba(10, 90, 4, 0.84), 
      rgba(10, 90, 4, 0.84)
    ),
    /* bottom, image */
    url(../images/cableconcrete_result.jpg) no-repeat center;
}

.call-to-actionCon {
    display: flex;
    justify-content: center;
    align-content: center;
}

.call-to-action {
    width: 30vw;
    align-content: center;
    text-align: center;
    color: white;
    margin-top: 20vh;
    margin-bottom: 5vh;
}

.call-to-action div {
    width: 6vw;
    height: 1px;
    background-color: #c0e74d;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.call-to-action h3 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 6vh;
    font-weight: 600;
    margin-bottom: 20px;
}

.call-to-action p {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 2vh;
    font-weight: 300;
    line-height: 4vh;
}

.actionBtn {
    border: 2px solid #c0e74d;
    border-radius: 50px;
    color: white;
    width: 12vw;
    padding: 1%;
    margin-top: 50px;
    margin: 0 auto;
}


.actionBtn p{
    text-align: center;
    font-weight: 400;
    font-size: 1.3vw;
}

#CC_result {
    width: 100%;
    opacity: .8;
}


/* TABLET RESPONSIVE */

