body {
    font-family: 'Noto Sans HK', sans-serif;
}

#topbar {
    width: 100%;
    height: 110px;
    background-color: #182628;

}

#logoSpace {
    width: 120px;
    height: 110px;
    background-color: #F2F2F2;
    margin: 0 auto;
    border-radius: 100%;
    
}

#welcomeSpace {
    width: 100%;
    height: 100vh;
    background-color:#F2F2F2;
}

#centerText {
    font-family: 'Noto Sans HK', sans-serif;
    color: #39423A;
    padding-top: 180px;
}

#title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

#message {
    padding: 40px;
    font-size: 20px;
    text-align: center;
}

#begin {
    background-color: #39423A;
    color:white;
    margin: 0 auto;
    width: 200px;
    text-align: center;
    font-size: 20px;
    padding: 7px;
}

#centerText img {
    display: block;
    margin: 0 auto;
    padding-top: 70px;
}

#scenario {
   display: flex;
   flex-direction: row;
}


#persona {
    background-color: #65CCB8;
    height: 100vh;
    width: 50%;
    opacity: 0;
    transform: translateX(-600px);
    transition: all 1s ease-out;
}

#persona.fade-in {
    opacity: 1;
    transform: translateX(0px);
}

#ratio {
    background-color: #182628;
    height: 100vh;
    width: 50%;
    opacity: 0;
    transform: translateX(600px);
    transition: all 1s ease-out;
}

#ratio.fade-in {
    opacity: 1;
    transform: translateX(0px);
}

#fuelSave {
    display: flex;
    flex-direction: row;
 }
 
 #iecsFuel {
     background-color: #182628;
     height: 100vh;
     width: 50%;
     opacity: 0;
     transform: translateY(250px);
     transition: all 1.2s ease-out;
 }
 
#iecsFuel.fade-in {
    opacity: 1;
    transform: translateY(0px);
}

 #rrFuel {
     background-color: #A8EBA2;
     height: 100vh;
     width: 50%;
     opacity: 0;
    transform: translateY(250px);
    transition: all 1.2s ease-out;
 }

 #rrFuel.fade-in {
    opacity: 1;
    transform: translateY(0px);
 }

 #emissions {
    width: 100%;
    height: 100vh;
    background-color: #57ba98;
    opacity: 0;
    transform: translateX(-900px);
    transition: all 1.5s ease-out;
}

#emissions.fade-in {
    opacity: 1;
    transform: translateX(0px);
}

#roadDamage {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

#road {
    width: 60%;
    background-color: #E8FFD4;
}

#damageInfo {
    width: 40%;
    background-color: #182628;
    opacity: 0;
    transform: translateX(200px);
    transition: all 1s ease-out;
}

#damageInfo.fade-in {
    opacity: 1;
    transform: translateX(0px);
}

#summary {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #E8FFD4;
}

#dashboard {
    height: 220px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.dashBox {
    background-color: #3b945e;
    border-right: 4px solid white;
    width: 25%;
    height: 100%;
    opacity: 0;
    transition: all 3s ease-out;
}

.dashBox.fade-in {
    opacity: 1;
}

#finale {
    height: 100vh;
    background-color: #F2F2F2;
}


